language: scala
cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/"
jdk:
  - oraclejdk8
before_script:
  # Limitation of the sbt-bintray plugin: the credentials are required to be present in a file on the build machine
  - curl -O https://gist.githubusercontent.com/EmilDafinov/c874e7f3abe77dd770c2bd26828b9224/raw/f75b659d1a2c3634140eace2c7899dc634e2790b/travis_bintray_credentials.sh &&
    chmod +x travis_bintray_credentials.sh &&
    ./travis_bintray_credentials.sh
script:
    sbt clean test
after_success:
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false"]; then sbt clean compile publish; fi'
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" && "$TRAVIS_PULL_REQUEST_SLUG" = "$TRAVIS_REPO_SLUG" ]; then sbt clean compile publish; fi'
  - sbt clean coverage test coverageReport coverageAggregate codacyCoverage
notifications:
  email: false
